@model ProductDemo.Models.Product

<h2>Delete Product</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Bạn muốn xóa Sản Phẩm này?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Id Sản Phẩm
            </dt>
            <dd class="col-sm-10">
                @Model.ProductId
            </dd>
            <dt class="col-sm-2">
                Tên Sản Phẩm
            </dt>
            <dd class="col-sm-10">
                @Model.ProductName
            </dd>
            <dt class="col-sm-2">
                Giá Tiền
            </dt>
            <dd class="col-sm-10">
                @Model.Price.ToString("C")
            </dd>
            <dt class="col-sm-2">
                Thương Hiệu
            </dt>
            <dd class="col-sm-10">
                @Model.Manufactor
            </dd>
            <dt class="col-sm-2">
                Loại Sản Phẩm
            </dt>
            <dd class="col-sm-10">
                @Model.ProductCategory?.ProductTypeName
            </dd>
            <dt class="col-sm-2">
                Xuất xứ
            </dt>
            <dd class="col-sm-10">
                @Model.MadeIn
            </dd>
            <dt class="col-sm-2">
                Nguyên Liệu
            </dt>
            <dd class="col-sm-10">
                @Model.Material
            </dd>
            <dt class="col-sm-2">
                Số Lượng Tồn
            </dt>
            <dd class="col-sm-10">
                @Model.RemainingNumber
            </dd>
        </dl>

        <form asp-action="Delete" asp-controller="Product" method="post">
            <input type="hidden" asp-for="ProductId" />
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>
