@using ProductDemo.Models
@model Product

<h2>Product Detail</h2>

<table class="table table-bordered">
    <tr>
        <th>Id Sản Phẩm</th>
        <td>@Model.ProductId</td>
    </tr>
    <tr>
        <th>Tên Sản Phẩm</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Hình Ảnh</th>
        <td>
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="@Model.ImagePath" alt="@Model.ProductName" style="max-width: 200px;" />
            }
            else
            {
                <span>Hình ảnh không có sẵn.</span>
            }
        </td>
    </tr>
    <tr>
        <th>Giá Tiền</th>
        <td>@Model.Price.ToString("C")</td>
    </tr>
    <tr>
        <th>Thương Hiệu</th>
        <td>@Model.Manufactor</td>
    </tr>
    <tr>
        <th>Loại Sản Phẩm</th>
        <td>@Model.ProductCategory?.ProductTypeName</td>
    </tr>
    <tr>
        <th>Xuất xứ</th>
        <td>@Model.MadeIn</td>
    </tr>
    <tr>
        <th>Nguyên Liệu</th>
        <td>@Model.Material</td>
    </tr>
    <tr>
        <th>Số Lượng Tồn</th>
        <td>@Model.RemainingNumber</td>
    </tr>
</table>

<a class="btn btn-primary" asp-controller="Product" asp-action="Index">Trở về Danh Sách Sản Phẩm</a>
<a class="btn btn-success" asp-controller="Home" asp-action="Index">Trở về Trang Chủ</a>
