@using ProductDemo.Models
@model Invoice

<h2>Invoice Detail</h2>

<table class="table table-bordered">
    <tr>
        <th>Invoice Id</th>
        <td>@Model.InvoiceId</td>
    </tr>
    <tr>
        <th>Buyer Name</th>
        <td>@Model.BuyerName</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Product Category</th>
        <td>@Model.ProductCategory?.ProductTypeName</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Model.Price.ToString("C")</td>
    </tr>
    <tr>
        <th>Purchase Date</th>
        <td>@Model.PurchaseDate.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td>@Model.Quantity</td>
    </tr>
</table>
<a class="btn btn-secondary ml-2" asp-controller="Invoice" asp-action="Index">Back to List of Invice</a>
