@model ProductDemo.Models.Invoice

@{
    ViewData["Title"] = "Invoice Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Buyer Name
        </dt>
        <dd class="col-sm-10">
            @Model.BuyerName
        </dd>
        <dt class="col-sm-2">
            Product Name
        </dt>
        <dd class="col-sm-10">
            @Model.ProductName
        </dd>
        <dt class="col-sm-2">
            Product Category
        </dt>
        <dd class="col-sm-10">
            @Model.ProductCategory
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price.ToString("C")
        </dd>
        <dt class="col-sm-2">
            Purchase Date
        </dt>
        <dd class="col-sm-10">
            @Model.PurchaseDate.ToString("MM/dd/yyyy")
        </dd>
        <dt class="col-sm-2">
            Quantity
        </dt>
        <dd class="col-sm-10">
            @Model.Quantity
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvoiceId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
</div>
