@model ProductDemo.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Danh Sách các Loại Sản Phẩm";
}

<h2 class="text-center mb-5">Danh Sách các Loại Sản Phẩm</h2>

<div class="row mb-4">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Tạo Loại Sản Phẩm mới</a>
    </div>
    <div class="col">
        <form class="d-flex flex-row align-items-center flex-wrap" asp-action="Index">
            <label for="Search" class="mx-2 my-1">Tìm Kiếm</label>
            <input type="search" class="form-control w-auto" id="Search" name="search" value="@Model.Search" placeholder="Search" />
            <button type="submit" class="btn btn-success mx-2">Go</button>
        </form>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Id Loại Sản Phẩm</th>
            <th>Tên Loại Sản Phẩm</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories!)
        {
            <tr>
                <td>@category.ProductTypeId</td>
                <td>@category.ProductTypeName</td>
                <td style="white-space:nowrap;">
                    <a class="btn btn-warning btn-sm" asp-controller="Category" asp-action="Edit" asp-route-id="@category.ProductTypeId">Chỉnh Sửa</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Category" asp-action="Delete" asp-route-id="@category.ProductTypeId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.NoOfPages > 1)
{
    <nav aria-label="Category Pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-page="@(Model.Page - 1)">Trước</a>
            </li>
            @for (int i = 0; i < Model.NoOfPages; i++)
            {
                <li class="page-item @(Model.Page == i + 1 ? "active" : "")">
                    <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-page="@(i + 1)">@(i + 1)</a>
                </li>
            }
            <li class="page-item @(Model.Page == Model.NoOfPages ? "disabled" : "")">
                <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-page="@(Model.Page + 1)">Sau</a>
            </li>
        </ul>
    </nav>
}
