@model ProductDemo.Models.CartItem

<h2>Chi tiết sản phẩm trong giỏ hàng</h2>

<table class="table table-bordered">
    <tr>
        <th>Cart Item Id</th>
        <td>@Model.CartItemId</td>
    </tr>
    <tr>
        <th>Buyer Name</th>
        <td>@Model.BuyerName</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.Product!.ProductName</td>
    </tr>
    <tr>
        <th>Product Category</th>
        <td>@Model.Product!.ProductCategory?.ProductTypeName</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Model.Price.ToString("C")</td>
    </tr>
    <tr>
        <th>Added Date</th>
        <td>@Model.AddedDate.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td>@Model.Quantity</td>
    </tr>
</table>

<a class="btn btn-primary" asp-controller="Cart" asp-action="Index">Back to List of Cart</a>
