@model ProductDemo.Models.CartItem

@{
    var isLaptopOrComputer = Model.Product!.ProductCategory?.ProductTypeName == "Laptop" || Model.Product!.ProductCategory?.ProductTypeName == "Computer";
}

<h2>Chi Tiết Sản Phẩm trong Giỏ Hàng</h2>

<table class="table table-bordered">
    <tr>
        <th>Id Giỏ Hàng</th>
        <td>@Model.CartItemId</td>
    </tr>
    <tr>
        <th>Tên Người Mua</th>
        <td>@Model.BuyerName</td>
    </tr>
    <tr>
        <th>Tên Sản Phẩm</th>
        <td>@Model.Product!.ProductName</td>
    </tr>
    <tr>
        <th>Loại Sản Phẩm</th>
        <td>@Model.Product!.ProductCategory?.ProductTypeName</td>
    </tr>
    @if (isLaptopOrComputer)
    {
        <tr>
            <th>Cấu Hình</th>
            <td>@Model.Configuration</td>
        </tr>
        <tr>
            <th>Hệ Điều Hành Windows</th>
            <td>@Model.WindowsOption</td>
        </tr>
        <tr>
            <th>Card Đồ Họa</th>
            <td>@Model.CardOption</td>
        </tr>
    }
    else
    {
        <tr>
            <th>Màu Sắc</th>
            <td>@Model.ColorOption</td>
        </tr>
    }
    <tr>
        <th>Giá Tiền</th>
        <td>@Model.Price.ToString("C")</td>
    </tr>
    <tr>
        <th>Ngày Thêm vào Giỏ</th>
        <td>@Model.AddedDate.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th>Số Lượng</th>
        <td>@Model.Quantity</td>
    </tr>
    <tr>
        <th>Mô Tả</th>
        <td>@Model.Descriptions</td>
    </tr>
</table>

<a class="btn btn-primary" asp-controller="Cart" asp-action="Index">Trở về Danh Sách Giỏ Hàng</a>
