@model ProductDemo.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Danh Sách các Sản Phẩm";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="~/css/index.css" rel="stylesheet" />

<div class="container mt-5">
    <h1 class="text-center mb-5">Danh Sách các Sản Phẩm</h1>

    <div class="row mb-4">
        <div class="col">
            <form class="d-flex flex-row align-items-center flex-wrap" asp-action="Index">
                <label for="search" class="mx-2 my-1">Tìm Kiếm</label>
                <input type="search" class="form-control w-auto" id="search" name="search" value="@Model.Search" placeholder="Search" />
                <button type="submit" class="btn btn-Search btn-success mx-2">Go</button>
            </form>
        </div>
    </div>

    <div class="row">
        @foreach (var product in Model.Products!)
        {
            <div class="col-md-3 mb-4">
                <div class="card-SP">
                    <div class="jjcGRu dSMAQu" style="color: rgb(242, 82, 32);"><span class="_iYshZ">Yêu thích</span></div>
                    <div class="img-container">
                        <img src="@product.ImagePath" alt="Product Image" class="img-SP img-fluid">
                    </div>
                    <div class="card-Ten-SP">
                        @product.ProductName
                    </div>
                    <div class="content-SP">
                        <div class="SP-giatien jjcGRu dSMAQu">
                            <span class="_iYshZ">@product.Price.ToString("N0") VND</span>
                        </div>
                    </div>
                    <form asp-action="Details" asp-controller="Home" asp-route-id="@product.ProductId">
                        <button type="submit" class="icon-Cart">
                            <i class="bi bi-cart-fill"></i>
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                <a class="page-link" href="?search=@Model.Search&page=1">Trang Đầu</a>
            </li>
            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                <a class="page-link" href="?search=@Model.Search&page=@(Model.Page - 1)">Trước</a>
            </li>
            @for (int i = 1; i <= Model.NoOfPages; i++)
            {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="page-link" href="?search=@Model.Search&page=@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.Page == Model.NoOfPages ? "disabled" : "")">
                <a class="page-link" href="?search=@Model.Search&page=@(Model.Page + 1)">Sau</a>
            </li>
            <li class="page-item @(Model.Page == Model.NoOfPages ? "disabled" : "")">
                <a class="page-link" href="?search=@Model.Search&page=@Model.NoOfPages">Trang Cuối</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"></script>
